<!-- page-wrapper Start-->
<div class="login-content container-fluid p-0">
    <!-- login page start-->
        <div class="row">
            <div class="col-md-12">
                <div class="auth-innerright">
                    <div class="authentication-box">
                        <div>
                                
                                    <div>
                                        <form class="theme-form" [formGroup]="loginForm" *ngIf="!newUser">
                                            <h4>Iniciar Sesión</h4>
                                            <div class="form-group">
												<label class="col-form-label pt-0">Usuario</label>
												<input class="form-control" formControlName="user" type="text" required="">
												<div *ngIf="loginForm.controls.user.touched && loginForm.controls.user.errors?.required"
													class="text text-danger mt-1">
													Usuario invalido
												</div>
												<div *ngIf="loginForm.controls.user.touched && loginForm.controls.user.errors?.user"
													class="text text-danger mt-1">
													Usuario invalido
												</div>
											</div>
											<div class="form-group">
												<label class="col-form-label">Contraseña</label>
												<input class="form-control" type="password" formControlName="password" required="">
												<div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required"
													class="text text-danger mt-1">
													Contraseña invalida
												</div>
											</div>
											<div class="form-group form-row mt-3 mb-0">
												<button class="btn btn-primary btn-block btn-lg"
													[disabled]="!loginForm.valid " (click)="login(loginForm.value)"
													type="submit"><span>Ingresar</span>
												</button>
											</div>
                                        </form>
                                    </div>
                            
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
    <!-- login page end-->
</div>