.loader--text {
  top: 200%;
  left: 0;
  right: 0;
  margin: auto;
}


.authentication-box input {
  box-shadow: -1px -1px 20px 1px #c1c1c1;
  border-left: 10px solid #3589a1;
}

.img-login { 
  width: 100%;
}

.authentication-box span {
  text-align: center;
  color: #3589a1;
}

.color-green {
  color: #7ed957;
}

.authentication-box h4 {
  text-align: center;
  font-weight: bold;
}

.image-logo {
  display: block;
  height: 220px;
  text-align: center;
}

.image-logo img {
  height: 100%;
  width: 90% !important;
}

.loader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}


.login-content.container-fluid.p-0 {
  background: rgb(255, 255, 255);
}

.btn-login:disabled {
  border-color: #7ed957 !important;
  background: #7ed957 !important;
}

.btn-login {
  border-color: #7ed957 !important;
  background: #7ed957 !important;
}

.btn-login span {
  font-weight: bold !important;
  color: #fff !important;
}


.authentication-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;    
    display: block;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}
