.loader--text {
  top: 200%;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}


.login-content.container-fluid.p-0 {
  background: rgb(255, 255, 255);
}


.authentication-box {
    background: #ffffff;
    width: 30%;
    margin: 100px auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 15px 10px #f7f7f7;
    display: block;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}
