<div class="container-fluid">
  <div class="edit-profile">
    <div class="row">
      <div class="col-lg-12">
        <form class="card" [formGroup]="setPassword">
          <div class="card-header">
            <h4 class="card-title mb-0">Set Password</h4>
            <div class="card-options"><a class="card-options-collapse" href="javascript:void(0)" data-toggle="card-collapse"><i
                  class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="javascript:void(0)" data-toggle="card-remove"><i
                  class="fe fe-x"></i></a></div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password"
                    formControlName="password">
                  <ng-container class="invalid"
                    *ngIf="setPassword.get('password').hasError('required') && setPassword.get('password').touched">
                    Password is required</ng-container>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group" *ngIf="setPassword.get('password').valid">
                  <label for="exampleInputPassword1">Confirm Password</label>
                  <input class="form-control" id="exampleInputcPassword1" type="password" placeholder="Enter again"
                    formControlName="cnfPassword">
                  <ng-container class="invalid"
                    *ngIf="setPassword.get('cnfPassword').hasError('required') && setPassword.get('cnfPassword').touched">
                    <div class="text text-danger mt-1">Confirm Password is required</div></ng-container>
                  <ng-container class="invalid"
                    *ngIf="setPassword.get('cnfPassword').hasError('mustMatch') && setPassword.get('cnfPassword').touched">
                    <div class="text text-danger mt-1">Passwords Doesnt match</div></ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <button class="btn btn-primary" type="submit" [disabled]='!setPassword.valid' (click)="updateObject(setPassword.value)">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>