<div class="container-fluid">
  <div class="row sass-top-cards">
    <div class="col">
      <div class="card sass-widgets o-hidden">
        <div class="card-body p-0">
          <div class="media">
            <div class="media-body">
              <p class="f-w-600">Total Visitors</p>
              <h2 class="f-w-600 mb-0">80,00,566</h2>
            </div>
            <div class="setting-dot d-inline-block">
              <div class="setting-bg setting-bg-primary"><i class="fa fa-spin fa-cog font-primary"></i></div>
            </div>
          </div>
          <div class="bg-gradient-primary footer-shape">
            <div class="sass-footer">
              <p class="mb-0 d-inline-block mr-3">80,000</p><span><span class="d-inline-block"><i
                    class="fa fa-sort-up mr-4"></i></span></span>
              <p class="mb-0 d-inline-block b-l-primary pl-4 mr-3">566</p><span class="down-arrow-align"><span
                  class="d-inline-block"><i class="fa fa-sort-down"></i></span></span>
              <div class="small-sass">
                <div class="small-sasschart flot-chart-container">
                  <x-chartist class="small-chart-gradient-1" [data]="chart1.data" [type]="chart.type"
                    [events]="chart.events" [options]="chart.options"></x-chartist>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card sass-widgets o-hidden">
        <div class="card-body p-0">
          <div class="media">
            <div class="media-body">
              <p class="f-w-600">Total Customers</p>
              <h2 class="f-w-600 mb-0">60,02,52</h2>
            </div>
            <div class="setting-dot d-inline-block">
              <div class="setting-bg setting-bg-secondary"><i class="fa fa-spin fa-cog font-secondary"></i></div>
            </div>
          </div>
          <div class="bg-gradient-secondary footer-shape">
            <div class="sass-footer">
              <p class="mb-0 d-inline-block mr-3">60,000</p><span><span class="d-inline-block"><i
                    class="fa fa-sort-up mr-4"></i></span></span>
              <p class="mb-0 d-inline-block b-l-secondary pl-4 mr-3">252</p><span class="down-arrow-align"><span
                  class="d-inline-block"><i class="fa fa-sort-down"></i></span></span>
              <div class="small-sass">
                <div class="small-sasschart-1 flot-chart-container">
                  <x-chartist class="small-chart-gradient-1" [data]="chart2.data" [type]="chart.type"
                    [events]="chart.events" [options]="chart.options"></x-chartist>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card sass-widgets o-hidden">
        <div class="card-body p-0">
          <div class="media">
            <div class="media-body">
              <p class="f-w-600">Total Orders</p>
              <h2 class="f-w-600 mb-0">89,000</h2>
            </div>
            <div class="setting-dot d-inline-block">
              <div class="setting-bg setting-bg-info"><i class="fa fa-spin fa-cog font-info"></i></div>
            </div>
          </div>
          <div class="bg-gradient-info footer-shape">
            <div class="sass-footer">
              <p class="mb-0 d-inline-block mr-3">88,640</p><span><span class="d-inline-block"><i
                    class="fa fa-sort-up mr-4"></i></span></span>
              <p class="mb-0 d-inline-block b-l-info pl-4 mr-3">360</p><span class="down-arrow-align"><span
                  class="d-inline-block"><i class="fa fa-sort-down"></i></span></span>
              <div class="small-sass">
                <div class="small-sasschart-2 flot-chart-container">
                  <x-chartist class="small-chart-gradient-1" [data]="chart3.data" [type]="chart.type"
                    [events]="chart.events" [options]="chart.options"></x-chartist>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card sass-widgets o-hidden">
        <div class="card-body p-0">
          <div class="media">
            <div class="media-body">
              <p class="f-w-600">Total Revenue</p>
              <h2 class="f-w-600 mb-0">45,01,046</h2>
            </div>
            <div class="setting-dot d-inline-block">
              <div class="setting-bg setting-bg-warning"><i class="fa fa-spin fa-cog font-warning"></i></div>
            </div>
          </div>
          <div class="bg-gradient-warning footer-shape">
            <div class="sass-footer">
              <p class="mb-0 d-inline-block mr-3">40,00,00</p><span><span class="d-inline-block"><i
                    class="fa fa-sort-up mr-4"></i></span></span>
              <p class="mb-0 d-inline-block b-l-warning pl-4 mr-3">215</p><span class="down-arrow-align"><span
                  class="d-inline-block"><i class="fa fa-sort-down"></i></span></span>
              <div class="small-sass">
                <div class="small-sasschart-3 flot-chart-container">
                  <x-chartist class="small-chart-gradient-1" [data]="chart4.data" [type]="chart.type"
                    [events]="chart.events" [options]="chart.options"></x-chartist>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card sass-widgets o-hidden">
        <div class="card-body p-0">
          <div class="media">
            <div class="media-body">
              <p class="f-w-600">Total Shipment</p>
              <h2 class="f-w-600 mb-0">50,000</h2>
            </div>
            <div class="setting-dot d-inline-block">
              <div class="setting-bg setting-bg-success"><i class="fa fa-spin fa-cog font-success"></i></div>
            </div>
          </div>
          <div class="bg-gradient-success footer-shape">
            <div class="sass-footer">
              <p class="mb-0 d-inline-block mr-3">40,000</p><span><span class="d-inline-block"><i
                    class="fa fa-sort-up mr-4"></i></span></span>
              <p class="mb-0 d-inline-block b-l-success pl-4 mr-3">215</p><span class="down-arrow-align"><span
                  class="d-inline-block"><i class="fa fa-sort-down"></i></span></span>
              <div class="small-sass">
                <div class="small-sasschart-4 flot-chart-container">
                  <x-chartist class="small-chart-gradient-1" [data]="chart5.data" [type]="chart.type"
                    [events]="chart.events" [options]="chart.options"></x-chartist>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-100 box-col-6">
      <div class="card">
        <div class="card-header">
          <h5>Over View</h5>
        </div>
        <div class="card-body overview-sass">
          <div class="row">
            <div class="col-sm-6">
              <div class="card overview-color">
                <div class="card-body bg-gradient-danger text-center">
                  <h4>30+</h4>
                  <div class="btn btn-pill btn-sm f-12">Total Deals</div><img class="img-fluid img-80"
                    src="../assets/images/dashboard-sass/handshake.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card overview-color">
                <div class="card-body bg-gradient-primary text-center">
                  <h4>$1800</h4>
                  <div class="btn btn-pill btn-sm f-12">Today Earning</div><img class="img-fluid img-60"
                    src="../assets/images/dashboard-sass/graph.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="progress-sass">
                <div class="sass-overview"><span class="f-w-600">Meeting : 85%</span><span class="pull-right f-w-600">85
                    / <span class="over-color">100</span></span>
                  <div class="progress-gradient-fill">
                    <div class="progress sm-progress-bar progress-animate">
                      <div class="progress-gradient-danger" role="progressbar" style="width: 85%" aria-valuenow="85"
                        aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
                    </div>
                  </div>
                </div>
                <div class="sass-overview"><span class="f-w-600">Deals : 60%</span><span class="pull-right f-w-600">60 /
                    <span class="over-color">100</span></span>
                  <div class="progress-gradient-fill">
                    <div class="progress sm-progress-bar progress-animate">
                      <div class="progress-gradient-danger" role="progressbar" style="width: 60%" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
                    </div>
                  </div>
                </div>
                <div class="sass-overview"><span class="f-w-600">Order Value : 30%</span><span
                    class="pull-right f-w-600">30 / <span class="over-color">100</span></span>
                  <div class="progress-gradient-fill">
                    <div class="progress sm-progress-bar progress-animate">
                      <div class="progress-gradient-danger" role="progressbar" style="width: 30%" aria-valuenow="30"
                        aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50 box-col-6">
      <div class="card o-hidden">
        <div class="card-header">
          <h5>New</h5>
        </div>
        <div class="card-body p-0">
          <div class="sales-product-table crypto-table-market sass-table table-responsive">
            <table class="table table-bordernone">
              <tbody>
                <tr>
                  <td>
                    <div class="media"><img class="img-fluid rounded-circle img-40 mr-3"
                        src="../assets/images/avtar/7.jpg" alt="">
                      <div class="media-body"><span class="f-w-600 d-block">Ossim Keter</span><small
                          class="f-w-600">1<sup>st</sup> Year</small></div>
                    </div>
                  </td>
                  <td class="text-center"><span class="f-w-600 d-block">1</span><small class="f-w-600">Rank</small></td>
                  <td><img class="img-fluid" src="../assets/images/dashboard-sass/graph-1.png" alt=""></td>
                </tr>
                <tr>
                  <td>
                    <div class="media"><img class="img-fluid rounded-circle img-40 mr-3"
                        src="../assets/images/avtar/4.jpg" alt="">
                      <div class="media-body"><span class="f-w-600 d-block">Venter Loren</span><small
                          class="f-w-600">1<sup>st</sup> Year</small></div>
                    </div>
                  </td>
                  <td class="text-center"><span class="f-w-600 d-block">2</span><small class="f-w-600">Rank</small></td>
                  <td><img class="img-fluid" src="../assets/images/dashboard-sass/graph-2.png" alt=""></td>
                </tr>
                <tr>
                  <td>
                    <div class="media"><img class="img-fluid rounded-circle img-40 mr-3"
                        src="../assets/images/avtar/16.jpg" alt="">
                      <div class="media-body"><span class="f-w-600 d-block">Fran Loren</span><small
                          class="f-w-600">1<sup>st</sup> Year</small></div>
                    </div>
                  </td>
                  <td class="text-center"><span class="f-w-600 d-block">3</span><small class="f-w-600">Rank</small></td>
                  <td><img class="img-fluid" src="../assets/images/dashboard-sass/graph-3.png" alt=""></td>
                </tr>
                <tr>
                  <td>
                    <div class="media"><img class="img-fluid rounded-circle img-40 mr-3"
                        src="../assets/images/avtar/11.jpg" alt="">
                      <div class="media-body"><span class="f-w-600 d-block">Loften Horen</span><small
                          class="f-w-600">1<sup>st</sup> Year</small></div>
                    </div>
                  </td>
                  <td class="text-center"><span class="f-w-600 d-block">4</span><small class="f-w-600">Rank</small></td>
                  <td><img class="img-fluid" src="../assets/images/dashboard-sass/graph-4.png" alt=""></td>
                </tr>
                <tr>
                  <td>
                    <div class="media"><img class="img-fluid rounded-circle img-40 mr-3"
                        src="../assets/images/avtar/3.jpg" alt="">
                      <div class="media-body"><span class="f-w-600 d-block">Loie Fenter</span><small
                          class="f-w-600">1<sup>st</sup> Year</small></div>
                    </div>
                  </td>
                  <td class="text-center"><span class="f-w-600 d-block">5</span><small class="f-w-600">Rank</small></td>
                  <td><img class="img-fluid" src="../assets/images/dashboard-sass/graph-5.png" alt=""></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50 box-col-6">
      <div class="card">
        <div class="card-header crypto-header">
          <h5>Shipment</h5>
          <div class="chart-value-box pull-right">
            <div class="value-square-box-primary"></div><span class="f-12 f-w-600">Near</span>
            <div class="value-square-box-secondary ml-3"></div><span class="f-12 f-w-600">Far</span>
          </div>
        </div>
        <div class="card-body">
          <div>
            <apx-chart  [series]="shipmentMapChart.series"
            [chart]="shipmentMapChart.chart"
            [plotOptions]="shipmentMapChart.plotOptions"
            [labels]="shipmentMapChart.labels"
            [colors]='shipmentMapChart.colors'>
            </apx-chart>
          </div>
          <div class="row crypto-current sass-map-details">
            <div class="col-sm-6 current-balance">
              <div class="btn-vertical-align">
                <button class="btn btn-pill btn-gradient-custom">$18,000<span class="round-shape"><i
                      class="icofont icofont-arrow-right"></i></span></button>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="sass-inner-map pull-right">
                <h6 class="mb-0 f-w-600 d-inline-block">$17,500</h6><span><i
                    class="fa fa-sort-up ml-2 mr-4 font-primary"></i></span>
                <h6 class="mb-0 f-w-600 d-inline-block">$500</h6><span class="arrow-align-map"><i
                    class="fa fa-sort-down ml-2 font-secondary"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50 box-col-6">
      <div class="card">
        <div class="card-header crypto-header">
          <h5>Total Profit</h5>
          <div class="chart-value-box pull-right"><span class="f-12 f-w-600"> <span class="font-primary">+7.9% </span>vs
              Last 7 Days</span></div>
        </div>
        <div class="card-body">
          <div class="sass-apex-radial">
            <div id="radial">
              <apx-chart [series]="apex1.series" [plotOptions]="apex1.options.plotOptions" [chart]="apex1.options.chart"
                [labels]="apex1.options.labels" [stroke]="apex1.options.stroke" [colors]="apex1.options.colors">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 xl-50 box-col-12">
      <div class="card">
        <div class="card-header crypto-header">
          <h5>Users Chart</h5>
          <div class="chart-value-box pull-right">
            <div class="value-square-box-secondary"></div><span class="f-12 f-w-600">Current</span>
            <div class="value-square-box-light ml-3"></div><span class="f-12 f-w-600">Highest</span>
          </div>
        </div>
        <div class="card-body">
          <div class="ct-10 chartist-sass-container">
            <x-chartist [data]="user.data" [type]="user.type" [options]="userOptions" [events]="userEvents">
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 box-col-12">
      <div class="card">
        <div class="card-header crypto-header">
          <h5>Monthly Revenue Progress</h5>
          <div class="chart-value-box pull-right">
            <div class="value-square-box-success mr-2"></div><span class="f-12 f-w-600">Highest Value</span>
          </div>
        </div>
        <div class="card-body chart-block">
          <div class="apex-chart-container">
            <div id="area-spaline">
              <apx-chart [series]="apexArea.series" [chart]="apexArea.chart" [stroke]="apexArea.stroke"
                [dataLabels]="apexArea.dataLabels" [fill]="apexArea.fill" [colors]="apexArea.colors">
              </apx-chart>
            </div>
            <div class="our-growth-bottom sass-graph-card">
              <div class="media"><span class="f-12 f-w-600">Our Growth</span><span
                  class="pull-right badge badge-pill ml-3"><span class="font-success"><span class="d-inline-block"><i
                        class="fa fa-sort-up"></i></span> 9.4%</span></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>