<div class="container-fluid">
  <div class="edit-profile">
    <div class="row">
      <div class="col-lg-12">
        <form class="card" [formGroup]="createSubject">
          <div class="card-header">
            <h4 class="card-title mb-0">Create Candidate</h4>
            <div class="card-options"><a class="card-options-collapse" href="javascript:void(0)" data-toggle="card-collapse"><i
                  class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="javascript:void(0)" data-toggle="card-remove"><i
                  class="fe fe-x"></i></a></div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Candidate First Name</label>
                  <input class="form-control" required type="text" placeholder="Candidate First Name" formControlName="candidateFirstName" [ngClass]="{ 'is-invalid': submitted && f.candidateFirstName.errors }">
                  <div *ngIf="submitted && f.candidateFirstName.errors" class="text text-danger mt-1">This Field is required</div>
                </div>
              </div>
        
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Candidate Last Name</label>
                  <input class="form-control" required type="text" placeholder="Candidate Last Name" formControlName="candidateLastName" [ngClass]="{ 'is-invalid': submitted && f.candidateLastName.errors }">
                  <div *ngIf="submitted && f.candidateLastName.errors" class="text text-danger mt-1">This Field is required</div>
                </div>
              </div>
            
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Address</label>
                <input class="form-control" required type="text" placeholder="Address" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                <div *ngIf="submitted && f.address.errors" class="text text-danger mt-1">This Field is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Unit</label>
                <input class="form-control" type="text" placeholder="Unit" formControlName="unit" [ngClass]="{ 'is-invalid': submitted && f.unit.errors }">
                <div *ngIf="submitted && f.unit.errors" class="text text-danger mt-1">This Field is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Suburb</label>
                <input class="form-control" required type="text" placeholder="Suburb" formControlName="suburb" [ngClass]="{ 'is-invalid': submitted && f.suburb.errors }">
                <div *ngIf="submitted && f.suburb.errors" class="text text-danger mt-1">This Field is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">State / Territory</label>
                <select class="form-control btn-square" formControlName="state" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                  <option value="" selected>Select</option>
                  <option value="1">ACT</option>
                  <option value="2">NSW</option>
                  <option value="3">NT</option>
                  <option value="4">QLD</option>
                  <option value="5">SA</option>
                  <option value="6">TAS</option>
                  <option value="7">VIC</option>
                  <option value="8">WA</option>
                </select>
                <div *ngIf="submitted && f.state.errors" class="text text-danger mt-1">This Field is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Postcode </label>
                <input class="form-control" required type="number" maxlength="4"  placeholder="Postcode" formControlName="postcode" [ngClass]="{ 'is-invalid': submitted && f.postcode.errors }">
                <div *ngIf="submitted && f.postcode.errors" class="text text-danger mt-1">This Field is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Email</label>
                <input class="form-control" required type="email" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="text text-danger mt-1">This Field is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Gender</label>
                <select class="form-control btn-square" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                  <option value="" selected>Select</option>
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                  <option value="O">Other</option>
                </select>
                <div *ngIf="submitted && f.gender.errors" class="text text-danger mt-1">This Field is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label class="form-label">Date of Birth</label>
                  <div class="input-group">
                      <input class="form-control" required placeholder="dd/mm/aaaa" readonly name="dp" [(ngModel)]="modelD" ngbDatepicker [minDate]="{year: 1970, month:1, day: 1}" 
                      [footerTemplate]="footerTemplate" #fd1="ngbDatepicker" formControlName="dateOfBirth" [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }">
                      <div class="input-group-append">
                      <button class="btn calendar btn-success" (click)="fd1.toggle()" type="button"><i
                          class="fa fa-calendar"></i></button>
                      </div>
                      <ng-template #footerTemplate>
                          <hr class="my-0">
                          <button class="btn btn-primary btn-sm m-2 float-left" (click)="modelD = ''; fd1.close()">Limpiar</button>
                      </ng-template>
                  </div>
                  <div *ngIf="submitted && f.dateOfBirth.errors" class="text text-danger mt-1">Este campo es obligatorio</div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Mobile</label>
                <input class="form-control" required type="number" maxlength="12" placeholder="Mobile" formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }">
                <div *ngIf="submitted && f.mobile.errors" class="text text-danger mt-1">This Field is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Candidate Profile</label>
                <select class="form-control btn-square" (change)="selectProfile($event)" formControlName="candidateProfile" [ngClass]="{ 'is-invalid': submitted && f.candidateProfile.errors }">
                  <option value="" selected>Select</option>
                  <option value="DES">DES</option>
                  <option value="JVES">JVES</option>
                  <option value="NDIS">NDIS</option>
                  <option value="ParentsNext">ParentsNext</option>
                  <option value="Strive Laboir Hire">Strive Laboir Hire</option>
                  <option value="TtW">TtW</option>
                  <option value="WFA">WFA</option>
                  <option value="Other">Other</option>
                </select>
                <div *ngIf="submitted && f.candidateProfile.errors" class="text text-danger mt-1">This Field is required</div>
              </div>
            </div>

            
            <div class="col-md-6" *ngIf="createSubject.get('candidateProfile')?.value == 'Other' ">
              <div class="form-group">
                  <label for="name">Other Profile</label>
                  <input class="form-control" required type="text" placeholder="Other Profile" formControlName="otherProfile" >
              </div>
              <div class="text text-danger mt-1" 
                  *ngIf="createSubject.get('otherProfile')?.errors?.required
                  && createSubject.get('otherProfile')?.touched">
                  This Field is required</div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Industry Interest</label>
                <ng-select [items]="industryInterest"
                            bindLabel="name"
                            bindValue="id"
                            [multiple]="true"
                            formControlName="industryInterest"
                            placeholder="Select"
                            [ngClass]="{ 'is-invalid': submitted && f.industryInterest.errors }"
                            >
                </ng-select>
                <div *ngIf="submitted && f.industryInterest.errors" class="text text-danger mt-1">This Field is required</div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Provider</label>
                <select class="form-control btn-square" formControlName="provider" (change)="selectProvider($event)" [ngClass]="{ 'is-invalid': submitted && f.provider.errors }">
                  <option value="" selected>Select</option>
                  <ng-container *ngFor='let data of listProviders' ><option [value]="data.id" *ngIf="data.active=='1'">{{data.providerCompany}}</option>
                  </ng-container>    
                </select>
                <div *ngIf="submitted && f.provider.errors" class="text text-danger mt-1">This Field is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Provider Region</label>
                <input formControlName="providerRegion" class="form-control"  disabled placeholder="Provider Region" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Provider Site Location</label>
                <input formControlName="providerSiteLocation" class="form-control"   disabled placeholder="Provider Site Location" >
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label">Consultant</label>
                <select class="form-control btn-square" formControlName="consultant"  (change)="selectConsultant($event)"  [ngClass]="{ 'is-invalid': submitted && f.consultant.errors }">
                  <option value="" selected>Select</option>
                  <ng-container *ngFor='let data of listConsultants' ><option [value]="data.id" *ngIf="data.active=='1'">{{data.first_name}}  {{data.last_name}}</option>
                  </ng-container>    
                </select>
                <div *ngIf="submitted && f.consultant.errors" class="text text-danger mt-1">This Field is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Consultant Title</label>
                <input class="form-control" formControlName="consultantTitle" placeholder="Provider Consultant Title" disabled>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <label for="name">CV</label>
                  <input [ngClass]="{ 'is-invalid': submitted && f.cv.errors }"
                      class="form-control" 
                      (change)="selectCV($event)"
                      type="file" 
                      accept="PDF"
                      formControlName="cv"
                      onlyNumbers>
              </div>
              <div class="alert alert-danger" *ngIf="createSubject.get('cv')?.errors?.required && createSubject.get('cv')?.touched"> Este campo es obligatorio</div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <label for="name">Presentation Letter</label>
                  <input 
                      [ngClass]="{ 'is-invalid': submitted && f.presentationLetter.errors }"
                      class="form-control" 
                      (change)="selectPT($event)"
                      type="file" 
                      accept="PDF"
                      formControlName="presentationLetter"
                      onlyNumbers>
              </div>
                <div class="alert alert-danger" *ngIf="createSubject.get('presentationLetter')?.errors?.required && createSubject.get('presentationLetter')?.touched"> Este campo es obligatorio</div>
            </div>
            <div class="col-md-12" >
              <div class="form-group">
                <div class="single_checkbox">
                  <input type="checkbox" #check1 class="single_input" id="check1" name="check1" [checked]="acceptTerms" (click)="checked(check1.checked)">
                  <label class="single_input_label sigle_input_check" for="check1">  <span>  I accept the Privacy Statement Declaration</span></label>
                </div>
              </div>
            </div>

            </div>
          </div>
          <div class="card-footer text-right">
            <button class="btn btn-primary" type="submit" [disabled]="!acceptTerms " (click)="cSubject(createSubject.value)">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>