<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 xl-60 box-col-12">
      <div class="card">
        <div class="card-header">
          <h5>Total Project</h5>
        </div>
        <div class="card-body chart-block">
          <div id="graph_rounded">
            <x-chartist [data]="graphRounded.data" [type]="graphRounded.type" [options]="graphRoundedOption"
              [events]="graphRoundedEvents">
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-40 box-col-12">
      <div class="card crm-chart-card">
        <div class="card-header pb-0"><span class="mt-0">September Total</span>
          <h3 class="mb-0"> <span> <app-feather-icons [icon]="'dollar-sign'"></app-feather-icons>4,223,345</span></h3><span
            class="badge flat-badge-secondary d-inline-block">+ 5.5% (10.1)</span>
        </div>
        <div class="card-body">
          <div class="dashboard-chart-container">
            <div class="full-chart">
              <!-- <x-chartist [data]="lineAreaFullChart" type='Line' [options]="lineAreaFullChartOptions"></x-chartist> -->
              <x-chartist [data]=lineAreaFullChart.data [options]=lineAreaFullChartOptions [type]=lineAreaFullChart.type
                [events]="lineAreaFullChartEvents">
              </x-chartist>
            </div>
          </div>
          <div class="full-chart-bottom">
            <ul>
              <li><a href="javascript:void(0)">
                  <h6 class="mb-0">1D</h6>
                </a></li>
              <li><a href="javascript:void(0)">
                  <h6 class="mb-0">2D</h6>
                </a></li>
              <li class="active"><a href="javascript:void(0)">
                  <h6 class="mb-0">3D</h6>
                </a></li>
              <li><a href="javascript:void(0)">
                  <h6 class="mb-0">4D</h6>
                </a></li>
              <li><a href="javascript:void(0)">
                  <h6 class="mb-0">5D</h6>
                </a></li>
            </ul>
            <button class="btn gradient-danger btn-pill btn-block"><span class="pull-left">View Full Chart</span><span
                class="d-inline-block pull-right"><span class="round-icon"><i
                    data-feather="arrow-right"></i></span></span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="owl-carousel-14">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let slide of slidesStore">
            <ng-template carouselSlide [id]="slide.id">
              <div class="item">
                <div class="card crm-icon-box text-center crm-hover-{{slide.type}}">
                  <div class="card-body">
                    <i class="icofont icofont-{{slide.class}} crm-dashboard-icon-{{slide.type}}"></i>
                    <i class="icofont icofont-{{slide.class}} crm-overlay"></i>
                    <h6>{{slide.text}}</h6>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
    <div class="col-xl-4 xl-100 box-col-6">
      <div class="card crm-total-user-card">
        <div class="card-body">
          <div class="user-circle"><i class="icofont icofont-ui-user"></i></div>
          <div class="total-user-title d-flex">
            <h2 class="f-w-600"> <span class="counter">85.3</span>k</h2>
            <div class="setting-dot">
              <div class="setting-bg pull-right"><i class="fa fa-spin fa-cog"></i></div>
            </div>
          </div>
          <h4 class="mb-0">Total Users</h4>
        </div>
        <div class="apex-chart-container">
          <div id="area-crm-chart">
            <apx-chart [series]="totalUsers.series" [chart]="totalUsers.chart" [dataLabels]="totalUsers.dataLabels"
              [yaxis]="totalUsers.yaxis" [xaxis]="totalUsers.xaxis" [fill]="totalUsers.fill"
              [stroke]="totalUsers.stroke" [tooltip]="totalUsers.tooltip" [colors]="totalUsers.colors"
              [grid]="totalUsers.grid">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 xl-50 box-col-6">
      <div class="card crm-user-card">
        <div class="card-header">
          <div class="crm-user-top-content text-center"><img class="img-fluid rounded-circle"
              src="../assets/images/user/2.jpg" alt="">
            <h4>Alena Ketrol</h4><span class="badge flat-badge-secondary">Our Md</span>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="apex-chart-small">
                <div id="area-crm-chart-small">
                  <apx-chart [series]="crmSmallChart.series" [chart]="crmSmallChart.chart"
                    [dataLabels]="crmSmallChart.dataLabels" [yaxis]="crmSmallChart.yaxis" [xaxis]="crmSmallChart.xaxis"
                    [fill]="crmSmallChart.fill" [stroke]="crmSmallChart.stroke" [tooltip]="crmSmallChart.tooltip"
                    [grid]="crmSmallChart.grid" [colors]="crmSmallChart.colors">
                  </apx-chart>
                </div>
              </div>
            </div>
            <div class="col-6">
              <h2 class="counter">216</h2>
              <h4>Deal Done</h4>
            </div>
          </div>
        </div>
        <div class="card-footer p-0">
          <ul>
            <li><span>Profile</span></li>
            <li><span>Message </span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 xl-50 box-col-12">
      <div class="card crm-total-user-card done-project-card">
        <div class="card-body">
          <div class="user-circle"><i class="icofont icofont-rocket-alt-2"></i></div>
          <div class="total-user-title d-flex">
            <h2 class="f-w-600"> <span class="counter">160</span>k</h2>
            <div class="setting-dot">
              <div class="setting-bg pull-right"><i class="fa fa-spin fa-cog"></i></div>
            </div>
          </div>
          <h4 class="mb-0">Done Project</h4>
        </div>
        <div class="apex-chart-container">
          <div id="area-crm-chart-1">
            <apx-chart [series]="doneProjectChart.series" [chart]="doneProjectChart.chart"
              [dataLabels]="doneProjectChart.dataLabels" [yaxis]="doneProjectChart.yaxis"
              [xaxis]="doneProjectChart.xaxis" [fill]="doneProjectChart.fill" [stroke]="doneProjectChart.stroke"
              [tooltip]="doneProjectChart.tooltip" [colors]="doneProjectChart.colors" [grid]="doneProjectChart.grid">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card our-client-table">
        <div class="card-header">
          <h5>Our Client</h5>
          <div class="dashboard-btn-groups">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-outline-light" type="button">Hours</button>
              <button class="btn btn-outline-light" type="button">Day</button>
              <button class="btn btn-outline-light" type="button">Week</button>
              <button class="btn btn-outline-light active" type="button">Month</button>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="sales-product-table table-responsive crm-client-table">
            <table class="table table-bordernone">
              <thead>
                <tr>
                  <th scope="col">Number</th>
                  <th scope="col">Name</th>
                  <th scope="col">Country</th>
                  <th scope="col">Date</th>
                  <th scope="col">Payment</th>
                  <th scope="col">Total</th>
                  <th scope="col">Status</th>
                  <th colspan="2">Project Progress</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>
                    <div class="d-inline-block align-middle"><img class="img-radius img-30 m-r-15 rounded-circle"
                        src="../assets/images/user/2.png" alt="">
                      <div class="d-inline-block">
                        <h6 class="f-w-600">Nick Stone</h6>
                      </div>
                    </div>
                  </td>
                  <td><i class="flag-icon flag-icon-gb"></i></td>
                  <td><span>10 May 2019</span></td>
                  <td><img class="img-30" src="../assets/images/ecommerce/card.png" alt=""></td>
                  <td><span>8652.00<app-feather-icons [icon]="'dollar-sign'"></app-feather-icons></span></td>
                  <td><span class="status-position"><i class="fa fa-circle font-success"> </i>Success</span></td>
                  <td class="project-progress">
                    <div class="progress sm-progress-bar progress-animate">
                      <div class="progress-gradient-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
                    </div>
                  </td>
                  <td><i data-feather="more-vertical"></i></td>
                </tr>
                <tr>
                  <td>02</td>
                  <td>
                    <div class="d-inline-block align-middle"><img class="img-radius img-30 m-r-15 rounded-circle"
                        src="../assets/images/user/5.jpg" alt="">
                      <div class="d-inline-block">
                        <h6 class="f-w-600">Milano Esco</h6>
                      </div>
                    </div>
                  </td>
                  <td><i class="flag-icon flag-icon-lr"></i></td>
                  <td><span>10 May 2019</span></td>
                  <td><img class="img-30" src="../assets/images/ecommerce/visa.png" alt=""></td>
                  <td><span>102.00<app-feather-icons [icon]="'dollar-sign'"></app-feather-icons></span></td>
                  <td><span class="status-position"><i class="fa fa-circle font-secondary"> </i>Bug Error</span></td>
                  <td class="project-progress">
                    <div class="progress sm-progress-bar progress-animate">
                      <div class="progress-gradient-secondary" role="progressbar" style="width: 35%" aria-valuenow="35"
                        aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
                    </div>
                  </td>
                  <td><i data-feather="more-vertical"></i></td>
                </tr>
                <tr>
                  <td>03</td>
                  <td>
                    <div class="d-inline-block align-middle"><img class="img-radius img-30 m-r-15 rounded-circle"
                        src="../assets/images/user/3.jpg" alt="">
                      <div class="d-inline-block">
                        <h6 class="f-w-600">Wiltor Noice</h6>
                      </div>
                    </div>
                  </td>
                  <td><i class="flag-icon flag-icon-za"></i></td>
                  <td><span>10 May 2019</span></td>
                  <td><img class="img-30" src="../assets/images/ecommerce/paypal.png" alt=""></td>
                  <td><span>2315.00<app-feather-icons [icon]="'dollar-sign'"></app-feather-icons></span></td>
                  <td><span class="status-position"><i class="fa fa-circle font-warning"> </i>Pending</span></td>
                  <td class="project-progress">
                    <div class="progress sm-progress-bar progress-animate">
                      <div class="progress-gradient-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
                    </div>
                  </td>
                  <td><i data-feather="more-vertical"></i></td>
                </tr>
                <tr>
                  <td>04</td>
                  <td>
                    <div class="d-inline-block align-middle"><img class="img-radius img-30 m-r-15 rounded-circle"
                        src="../assets/images/user/4.jpg" alt="">
                      <div class="d-inline-block">
                        <h6 class="f-w-600">Anna Strong</h6>
                      </div>
                    </div>
                  </td>
                  <td><i class="flag-icon flag-icon-ye"></i></td>
                  <td><span>10 May 2019</span></td>
                  <td><img class="img-30" src="../assets/images/ecommerce/mastercard.png" alt=""></td>
                  <td><span>4513.00<app-feather-icons [icon]="'dollar-sign'"></app-feather-icons></span></td>
                  <td><span class="status-position"><i class="fa fa-circle font-primary"> </i>Waiting</span></td>
                  <td class="project-progress">
                    <div class="progress sm-progress-bar progress-animate">
                      <div class="progress-gradient-primary" role="progressbar" style="width: 60%" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
                    </div>
                  </td>
                  <td><i data-feather="more-vertical"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h5>Project Income</h5>
        </div>
        <div class="card-body crm-dashboard-chart">
          <div class="crm-top-chart">
            <h1 class="font-info mb-0 counter">32</h1><span>Total Income</span><span class="d-block f-12"><span
                class="d-inline-block up-icon-middle"><i class="fa fa-sort-up mr-1 font-info"> </i></span>100%</span>
          </div>
          <div id="incomechart">
            <x-chartist [data]="projectIncome.data" [type]="projectIncome.type" [options]="projectIncome.options"
              [events]='projectIncome.events'>
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h5>New Project</h5>
        </div>
        <div class="card-body crm-dashboard-chart">
          <div class="crm-top-chart">
            <h1 class="font-secondary mb-0 counter">26</h1><span>Total New Project</span><span
              class="d-block f-12"><span class="d-inline-block up-icon-middle"><i
                  class="fa fa-sort-up mr-1 font-secondary"> </i></span>100%</span>
          </div>
          <div id="new-project">
            <x-chartist [data]="newProject.data" [type]="newProject.type" [options]="newProject.options"
              [events]="newProject.events">
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 xl-100 box-col-12">
      <div class="card">
        <div class="card-header">
          <h5>Quick Mail</h5>
        </div>
        <div class="card-body">
          <div class="quick-mail">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input class="form-control btn-pill" type="email" placeholder="To">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group mb-0">
                  <input class="form-control btn-pill" type="email" placeholder="Cc">
                </div>
              </div>
              <div class="col-sm-6 xs-input-space">
                <div class="form-group mb-0">
                  <input class="form-control btn-pill" type="email" placeholder="Subject">
                </div>
              </div>
            </div>
          </div>
        </div>
        <ckeditor [editor]="ClassicEditor" data="<p>Hello, world!</p>"></ckeditor>
        <div class="card-footer quick-mail-footer">
          <button class="btn btn-secondary btn-pill">Send </button>
          <button class="btn btn-clip ml-1"><i data-feather="paperclip"> </i></button>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50 box-col-6">
      <div class="card crm-user-profile-card">
        <div class="card-header p-0 profile-top-bg">
          <div class="profile-round profile-round-big animation-round-1"></div>
          <div class="profile-round profile-round-medium animation-round-2"> </div>
          <div class="profile-round profile-round-big animation-round-3"></div>
          <div class="profile-round profile-round-small animation-round-4"></div>
          <div class="profile-round profile-round-semi-small animation-round-5"></div>
          <div class="profile-round profile-round-small animation-round-6"></div>
          <div class="profile-details">
            <div class="media"><img class="img-90 rounded-circle" src="../assets/images/user/11.jpg" alt="">
              <div class="media-body">
                <h5>Alex Goldmine</h5><span class="f-12 d-block">Alexgoldmine_98@gmail.com</span><span
                  class="badge badge-pill bg-white font-info">Admin</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul>
            <li>
              <h6> <i data-feather="user"></i>Your Account</h6>
            </li>
            <li>
              <h6> <i data-feather="credit-card"></i>Invoices & Payments<span
                  class="pull-right badge badge-pill pill-badge-secondary">2</span></h6>
            </li>
            <li>
              <h6> <i data-feather="settings"></i>Setting</h6>
            </li>
            <li>
              <h6> <i data-feather="file-text"></i>Your Services</h6>
            </li>
            <li>
              <h6> <i data-feather="log-out"></i>Log Out</h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50 box-col-6">
      <div class="card">
        <div class="card-header">
          <h5>My task</h5>
        </div>
        <div class="card-body p-0">
          <div class="my-tasks">
            <div class="media">
              <div class="checkbox checkbox-square-primary">
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1"></label>
              </div>
              <div class="media-body">
                <h6 class="mb-0 f-w-600">James Anderson</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and type.</p><span
                  class="badge badge-pill badge-primary">Done</span>
              </div>
            </div>
            <div class="media">
              <div class="checkbox checkbox-square-success">
                <input id="checkbox2" type="checkbox">
                <label for="checkbox2"></label>
              </div>
              <div class="media-body">
                <h6 class="mb-0 f-w-600">Michael Jorden</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and type setting.</p><span
                  class="badge badge-pill badge-success">Done</span>
              </div>
            </div>
            <div class="media">
              <div class="checkbox checkbox-square-warning">
                <input id="checkbox3" type="checkbox">
                <label for="checkbox3"></label>
              </div>
              <div class="media-body">
                <h6 class="mb-0 f-w-600">Johnathan Doeting</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and.</p><span
                  class="badge badge-pill badge-warning">Pending</span>
              </div>
            </div>
            <div class="media">
              <div class="checkbox checkbox-square-secondary">
                <input id="checkbox4" type="checkbox" checked="">
                <label for="checkbox4"></label>
              </div>
              <div class="media-body">
                <h6 class="mb-0 f-w-600">James Anderson</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and.</p><span
                  class="badge badge-pill badge-secondary">Failed</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50 box-col-6">
      <div class="card">
        <div class="card-header">
          <h5>Chat</h5>
          <div class="crm-chat-status">
            <div class="circle-dashed-box">
              <div class="circle-dashed"><i class="fa fa-plus"></i></div>
            </div><img class="img-30 rounded-circle" src="../assets/images/user/2.jpg" alt=""><img
              class="img-30 rounded-circle mr-0" src="../assets/images/user/12.jpg" alt="">
          </div>
        </div>
        <div class="card-body chat-box crm-chat">
          <div class="chat">
            <div class="media left-side-chat"><img class="rounded-circle chat-user-img img-60 m-r-20"
                src="../assets/images/user/12.jpg" alt="">
              <div class="media-body"><span class="f-12">Message seen 4:07 PM</span>
                <div class="message-main">
                  <p class="mb-0 f-12">Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                </div>
              </div>
            </div>
            <div class="media right-side-chat">
              <div class="media-body text-right"><span class="f-12 d-block">Message seen 4:10 PM</span>
                <div class="message-main pull-right">
                  <p class="mb-0 text-left">Lorem Ipsum is simply dummy text of the printing.</p>
                  <div class="clearfix"></div>
                </div>
              </div><img class="rounded-circle chat-user-img img-60 m-l-20" src="../assets/images/user/2.jpg" alt="">
            </div>
            <div class="media left-side-chat"><img class="rounded-circle chat-user-img img-60 m-r-20"
                src="../assets/images/user/12.jpg" alt="">
              <div class="media-body"><span class="f-12">Message seen 4:15 PM</span>
                <div class="message-main">
                  <p>Lorem Ipsum is simply dummy.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50 box-col-6">
      <div class="card">
        <div class="card-header">
          <h5>Recent Activities</h5>
        </div>
        <div class="card-body">
          <div class="timeline-circle">
            <div class="media"><span class="f-12">11:20</span>
              <div class="timeline-background">
                <div class="timeline-dot-success"></div>
                <div class="timeline-line"> </div>
              </div>
              <div class="media-body">
                <h6 class="mb-0">Updated Product</h6>
                <p class="f-12">Quisque a consequat ante, at volutpat enim.</p>
              </div>
            </div>
            <div class="media"><span class="f-12">Today</span>
              <div class="timeline-background">
                <div class="timeline-dot-primary"></div>
                <div class="timeline-line"> </div>
              </div>
              <div class="media-body">
                <h6 class="mb-0">You liked James products</h6>
                <p class="f-12">Aenean sit amet magna vel magna fringilla ferme.</p>
              </div>
            </div>
            <div class="media"><span class="f-12">05:04</span>
              <div class="timeline-background">
                <div class="timeline-dot-warning"></div>
                <div class="timeline-line"></div>
              </div>
              <div class="media-body">
                <h6 class="mb-0">James just like your product</h6>
                <p class="f-12">Nam posuere accumsan porta.</p>
              </div>
            </div>
            <div class="media"><span class="f-12">08:20</span>
              <div class="timeline-background">
                <div class="timeline-dot-secondary"></div>
                <div class="timeline-line"></div>
              </div>
              <div class="media-body">
                <h6 class="mb-0">Jenna commented on your product</h6>
                <p class="f-12">Curabitur egestas consequat lorem.</p>
              </div>
            </div>
            <div class="media"><span class="f-12">Last Week</span>
              <div class="timeline-background">
                <div class="timeline-dot-info"></div>
                <div class="timeline-line"></div>
              </div>
              <div class="media-body">
                <h6 class="mb-0">Jihan Doe just like your product</h6>
                <p class="f-12">Vestibulum nec mi suscipit, dapibus purus a </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>