<div *ngIf="role == 'ADMIN'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 xl-100">
                <div class="row">
                    <div class="col-xl-6 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">New Applications</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-success" role="progressbar" [ngStyle]="{'width': totalData.totals.Application+'%' }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-success">{{totalData.totals.Application}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-success tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">Placements</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-success" role="progressbar"   [ngStyle]="{'width': totalData.totals.Placement+'%' }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-success">{{totalData.totals.Placement}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-success tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">Ticket or License</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-success" role="progressbar" [ngStyle]="{'width': totalData.totals['Pending Ticket or License']+'%' }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-success">{{totalData.totals['Pending Ticket or License']}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-success tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">Job Vacancies</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-success" role="progressbar" [ngStyle]="{'width': totalData.offers.active+'%' }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-success">{{totalData.offers.active}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-success tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 xl-100">
                <div class="row">
                    <div class="col-xl-6 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">Phone Interviews</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-warning" role="progressbar" [ngStyle]="{'width': totalData.totals['Phone Interview']+'%' }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-warning">{{totalData.totals["Phone Interview"]}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-warning tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">Internal Interviews</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-warning" role="progressbar" [ngStyle]="{'width': totalData.totals['Internal Interview']+'%' }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-warning">{{totalData.totals["Internal Interview"]}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-warning tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">Employer Interviews</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-warning" role="progressbar" [ngStyle]="{'width': totalData.totals['Employer Interview']+'%' }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-warning">{{totalData.totals["Employer Interview"]}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-warning tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">Job Offers</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-warning" role="progressbar" [ngStyle]="{'width': totalData.offers.total+'%' }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-warning">{{totalData.offers.total}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-warning tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 xl-100">
                <div class="card-body btn-showcase" style=" text-align: center; ">
                    <a routerLink="/candidates/create-candidate"> <button class="btn btn-lg btn-primary" type="button" placement="top" ngbTooltip="New JS">New JS</button></a>
                    <a routerLink="/providers/create-provider"> <button class="btn btn-lg btn-secondary" type="button" placement="top" ngbTooltip="New JS">New Provider</button></a>
                    <a routerLink="/providers//user/create-profile"> <button class="btn btn-lg btn-success" type="button" placement="top" ngbTooltip="New Agency Staff">New Agency Staff</button></a>
                    <a routerLink="/offers/create-offer"> <button class="btn btn-lg btn-info" type="button" placement="top" ngbTooltip="New Job Offer">New Job Offer</button></a>
                    <a routerLink="/reports/generate-report"> <button class="btn btn-lg btn-warning" type="button" placement="top" ngbTooltip="Reports">Reports</button></a>
                </div>
            </div>

            <div class="col-lg-12 xl-100">
                <div class="card-body custom-datatable">
                    <input type="text" class="filter-ngx form-control" placeholder='Filter'
                        (keyup)="updateFilter($event)" />
                    <ngx-datatable #table 
                        class='bootstrap' 
                        [columns]="columns" 
                        [columnMode]="ColumnMode.force"
                        [headerHeight]="50" 
                        [footerHeight]="50" 
                        rowHeight="auto" 
                        [limit]="10" 
                        [rows]="rows">

                        <ngx-datatable-column *ngFor="let col of columns" [name]="col.name"> 
                        <ng-template ngx-datatable-header-template let-sort="sortFn">
                            <span (click)="sort()">{{ col.label }}</span>
                        </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column size="1000">
                        <ng-template ngx-datatable-cell-template let-row="row"  let-rowIndex="rowIndex" let-value="value">

                            <span  class="badge badge-pill pill-badge-info"  (click)="editProfile(row)">Edit</span>
                            <span *ngIf="row.active == 0" class="badge badge-pill pill-badge-success" (click)="activateItem(row.id)" >Activate</span>
                            <span *ngIf="row.active == 1" class="badge badge-pill pill-badge-secondary" (click)="openConfirmation(row)" >Inactivate</span>
                            
                        </ng-template>
                        </ngx-datatable-column>
                    
                    </ngx-datatable>
                </div>
            
            </div>
        </div>
    </div>
</div>
<div *ngIf="role == 'PROVIDER'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 xl-100">
                <div class="row">
                    <div class="col-xl-4 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">New Applications</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-success" role="progressbar" [ngStyle]="{'width': (totalData.totals == undefined? '0%': totalData.totals.Application+'%') }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-success">{{(totalData.totals == undefined?0 : totalData.totals.Application)}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-success tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">Placements</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-success" role="progressbar"   [ngStyle]="{'width': (totalData.totals == undefined? '0%' :totalData.totals.Placement+'%') }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-success">{{(totalData.totals == undefined?0: totalData.totals.Placement)}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-success tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">Ticket or License</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-success" role="progressbar" [ngStyle]="{'width': (totalData.totals == undefined? '0%': totalData.totals['Pending Ticket or License']+'%') }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-success">{{(totalData.totals == undefined? 0 :totalData.totals['Pending Ticket or License'])}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-success tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-12 xl-100">
                <div class="card-body custom-datatable">
                    <input type="text" class="filter-ngx form-control" placeholder='Filter'
                        (keyup)="updateFilter($event)" />
                    <ngx-datatable #table 
                        class='bootstrap' 
                        [columns]="columns" 
                        [columnMode]="ColumnMode.force"
                        [headerHeight]="50" 
                        [footerHeight]="50" 
                        rowHeight="auto" 
                        [limit]="10" 
                        [rows]="rows">

                        <ngx-datatable-column *ngFor="let col of columns" [name]="col.name"> 
                        <ng-template ngx-datatable-header-template let-sort="sortFn">
                            <span (click)="sort()">{{ col.label }}</span>
                        </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column size="1000">
                        <ng-template ngx-datatable-cell-template let-row="row"  let-rowIndex="rowIndex" let-value="value">
                        </ng-template>
                        </ngx-datatable-column>
                    
                    </ngx-datatable>
                </div>
            
            </div>
        </div>
    </div>

</div>



<div *ngIf="role == 'CANDIDATE'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 xl-100">
                <div class="row">
                    <div class="col-xl-4 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">New Applications</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-success" role="progressbar" [ngStyle]="{'width': (totalData.totals == undefined? '0%': totalData.totals.Application+'%') }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-success">{{(totalData.totals == undefined?0 : totalData.totals.Application)}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-success tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">Placements</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-success" role="progressbar"   [ngStyle]="{'width': (totalData.totals == undefined? '0%' :totalData.totals.Placement+'%') }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-success">{{(totalData.totals == undefined?0: totalData.totals.Placement)}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-success tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 xl-50 col-md-6 box-col-6">
                        <div class="card">
                            <div class="card-body tag-card">
                                <div class="progressbar-widgets">
                                    <div class="media media-widgets">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0 f-w-600">
                                                <span class="counter">Ticket or License</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="progress sm-progress-bar progress-animate">
                                        <div class="progress-gradient-success" role="progressbar" [ngStyle]="{'width': (totalData.totals == undefined? '0%': totalData.totals['Pending Ticket or License']+'%') }"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <span class="font-success">{{(totalData.totals == undefined? 0 :totalData.totals['Pending Ticket or License'])}}</span>
                                            <span class="animate-circle"></span></div>
                                    </div><span class="tag-content-success tag-hover-effect">
                                        <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 xl-100">
                <div class="card-body btn-showcase" style=" text-align: center; ">
                    <a routerLink="/job/search"> <button class="btn btn-lg btn-warning" type="button" placement="top" ngbTooltip="New JS">Job Offer Search</button></a>
                </div>
            </div>


            <div class="col-lg-12 xl-100">
                <div class="card-body custom-datatable">
                    <input type="text" class="filter-ngx form-control" placeholder='Filter'
                        (keyup)="updateFilter($event)" />
                    <ngx-datatable #table 
                        class='bootstrap' 
                        [columns]="columns2" 
                        [columnMode]="ColumnMode.force"
                        [headerHeight]="50" 
                        [footerHeight]="50" 
                        rowHeight="auto" 
                        [limit]="10" 
                        [rows]="rows1">
  
                        <ngx-datatable-column *ngFor="let col of columns2" [name]="col.name"> 
                          <ng-template ngx-datatable-header-template let-sort="sortFn">
                              <span (click)="sort()">{{ col.label }}</span>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="">
                          <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex" let-value="value">
                            <button class="btn btn-success text-center"  [routerLink]="['/job/details', row.id]" type="button">View more</button>
                          </ng-template>
                        </ngx-datatable-column>
                       
                    </ngx-datatable>
                </div>
            
            </div>
        </div>
    </div>

</div>
<!-- Container-fluid Ends-->