<!-- Page Body Start-->
<div class="page-body-wrapper landing-main">
    <div class="bg-sky-blue highlight-on-scroll" id="home">
        <div class="sticky-header">
            <header>
                <div class="container-modify">
                    <nav class="navbar navbar-b navbar-trans navbar-expand-xl fixed-top nav-padding" id="mainNav"><a
                            class="navbar-brand" href="javascript:void(0)"><img class="img-fluid" src="assets/images/compost-logo.png"
                                alt=""></a>
                        <button class="navbar-toggler navabr_btn-set custom_nav" type="button" data-toggle="collapse"
                            data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false"
                            aria-label="Toggle navigation"><span></span><span></span><span></span></button>
                        <div class="navbar-collapse justify-content-end collapse hidenav" id="navbarDefault">
                            <ul class="navbar-nav navbar_nav_modify" id="scroll-spy">
                                <li class="nav-item"><a class="nav-link js-scroll active" href="#home">Home</a></li>
                                <li class="nav-item"><a class="nav-link js-scroll" href="#layout">Layouts</a></li>
                                <li class="nav-item"><a class="nav-link js-scroll" href="#dashboards">Dashboards</a>
                                </li>
                                <li class="nav-item"><a class="nav-link js-scroll" href="#Components">Components</a>
                                </li>
                                <li class="nav-item"><a class="nav-link js-scroll" href="#applications">Applications</a>
                                </li>
                                <li class="nav-item">
                                    <form class="form-inline support-res" target="_blank"
                                        action="https://themeforest.net/user/pixelstrap/portfolio">
                                        <button class="nav-link js-scroll">Support</button>
                                    </form>
                                </li>
                                <li class="nav-item">
                                    <form class="form-inline support-res" target="_blank"
                                        action="https://themeforest.net/user/pixelstrap/portfolio">
                                        <button class="btn btn-pill btn-light">Buy Now</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
        <div class="main-landing text-center">
            <div class="container">
                <div class="landing-main-content"><img class="img-fluid d-block" src="assets/images/landing/icon-1.png"
                        alt=""><img class="img-fluid d-block mt-3 text-image"
                        src="assets/images/landing/Creative-txt.png" alt="">
                    <h6 class="mt-2">Admin Template</h6><img class="img-fluid d-block icons-group"
                        src="assets/images/landing/3-title.png" alt="">
                    <div class="position-cards"><img class="img-fluid landing-card-3" src="assets/images/landing/3.jpg"
                            alt=""><img class="img-fluid landing-card-1" src="assets/images/landing/1.jpg" alt=""><img
                            class="img-fluid landing-card-2" src="assets/images/landing/2.jpg" alt=""><img
                            class="img-fluid landing-card-4" src="assets/images/landing/6.jpg" alt=""><img
                            class="img-fluid landing-card-5" src="assets/images/landing/7.jpg" alt=""><img
                            class="img-fluid landing-card-6" src="assets/images/landing/9.jpg" alt=""><img
                            class="img-fluid landing-card-7" src="assets/images/landing/4.jpg" alt=""><img
                            class="img-fluid landing-card-8" src="assets/images/landing/5.jpg" alt=""><img
                            class="img-fluid landing-card-9" src="assets/images/landing/10.jpg" alt=""><img
                            class="img-fluid landing-card-10" src="assets/images/landing/8.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section-space creative-demo-section highlight-on-scroll" id="layout">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="creative-demo-content"><img class="img-fluid d-block" src="assets/images/landing/icon-1.png"
                        alt="">
                    <div class="couting">
                        <h2>5+ Unique Layouts</h2>
                    </div>
                    <p>
                        Creative is beautifully crafted, clean & modern designed admin theme with 6 different
                        demos & light - dark versions.
                    </p>
                    <div class="layouts-btn mt-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-modify abjust-section">
        <div class="row">
            <div class="col-md-4">
                <div class="img-effect"><a routerLink='' target="_blank"><img class="img-fluid creative-img"
                            src="assets/images/landing/dashboard/eshop.jpg" alt=""></a>
                    <div class="cretive_img_content">
                        <h4>Light Layout</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-effect"><a href="layout-dark.html" target="_blank"><img class="img-fluid creative-img"
                            src="assets/images/landing/layout/dark.jpg" alt=""></a>
                    <div class="cretive_img_content">
                        <h4>Dark Layout</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-effect"><a href="compact.html" target="_blank"><img class="img-fluid creative-img"
                            src="assets/images/landing/layout/compact.jpg" alt=""></a>
                    <div class="cretive_img_content">
                        <h4>Compact Layout</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-2">
                <div class="img-effect"><a href="layout-rtl.html" target="_blank"><img class="img-fluid creative-img"
                            src="assets/images/landing/layout/rtl.jpg" alt=""></a>
                    <div class="cretive_img_content mb-0">
                        <h4 class="mb-0">RTL Layout</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-effect"><a href="box-layout.html" target="_blank"><img class="img-fluid creative-img"
                            src="assets/images/landing/layout/box.jpg" alt=""></a>
                    <div class="cretive_img_content mb-0">
                        <h4 class="mb-0">Box Layout</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-space creative-demo-section bg-Widget">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="creative-demo-content"><img class="img-fluid d-block" src="assets/images/landing/icon-1.png"
                        alt="">
                    <div class="couting">
                        <h2>Widgets</h2>
                    </div>
                    <p>
                        Creative is beautifully crafted, clean & modern designed admin theme with 6 different
                        demos & light - dark versions.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="marque-img"></div>
    </div>
</section>
<section class="section-space creative-demo-section app_bg highlight-on-scroll pb-0" id="applications">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="creative-demo-content custom_animation"><img class="img-fluid d-block"
                        src="assets/images/landing/icon-1.png" alt="">
                    <div class="couting">
                        <h2>Useful Application</h2>
                    </div>
                    <p>
                        Creative is beautifully crafted, clean & modern designed admin theme with 6 different
                        demos & light - dark versions.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-modify">
        <div class="row">
            <div class="owl-carousel owl-theme" id="owl-carousel-land">
                <div class="item">
                    <div class="img-effect"><a href="../theme/social-app.html" target="_blank"><img
                                class="img-fluid creative-img" src="assets/images/landing/application/socialapp.jpg"
                                alt="">
                            <div class="cretive_img_content">
                                <h4>Social App</h4>
                            </div>
                        </a></div>
                </div>
                <div class="item">
                    <div class="img-effect"> <a href="../theme/knowledgebase.html" target="_blank"><img
                                class="img-fluid creative-img" src="assets/images/landing/application/knowledgebase.jpg"
                                alt="">
                            <div class="cretive_img_content">
                                <h4>knowledgebase</h4>
                            </div>
                        </a></div>
                </div>
                <div class="item">
                    <div class="img-effect"> <a href="../theme/support-ticket.html" target="_blank"><img
                                class="img-fluid creative-img"
                                src="assets/images/landing/application/support-Ticket.jpg" alt="">
                            <div class="cretive_img_content">
                                <h4>Support Ticket</h4>
                            </div>
                        </a></div>
                </div>
                <div class="item">
                    <div class="img-effect"> <a href="../theme/email-application.html" target="_blank"><img
                                class="img-fluid creative-img" src="assets/images/landing/application/email.jpg" alt="">
                            <div class="cretive_img_content">
                                <h4>Email Dashboard</h4>
                            </div>
                        </a></div>
                </div>
                <div class="item">
                    <div class="img-effect"><a href="../theme/to-do.html" target="_blank"><img
                                class="img-fluid creative-img" src="assets/images/landing/application/todo.jpg" alt="">
                            <div class="cretive_img_content">
                                <h4>To-Do</h4>
                            </div>
                        </a></div>
                </div>
                <div class="item">
                    <div class="img-effect"><a href="../theme/job-details.html" target="_blank"><img
                                class="img-fluid creative-img" src="assets/images/landing/application/job-search.jpg"
                                alt="">
                            <div class="cretive_img_content">
                                <h4>Job Search</h4>
                            </div>
                        </a></div>
                </div>
                <div class="item">
                    <div class="img-effect"><a href="../theme/chartist.html" target="_blank"><img
                                class="img-fluid creative-img" src="assets/images/landing/application/chart.jpg" alt="">
                            <div class="cretive_img_content">
                                <h4>Chat</h4>
                            </div>
                        </a></div>
                </div>
                <div class="item">
                    <div class="img-effect"><a href="../theme/ecommerce-templates.html" target="_blank"><img
                                class="img-fluid creative-img" src="assets/images/landing/application/ecommerce.jpg"
                                alt="">
                            <div class="cretive_img_content">
                                <h4>Ecommerce</h4>
                            </div>
                        </a></div>
                </div>
                <div class="item">
                    <div class="img-effect"><a href="../theme/blog.html" target="_blank"><img
                                class="img-fluid creative-img" src="assets/images/landing/application/blog.jpg" alt="">
                            <div class="cretive_img_content">
                                <h4>Blog</h4>
                            </div>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-space creative-demo-section app_bg highlight-on-scroll" id="dashboards">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="creative-demo-content"><img class="img-fluid d-block" src="assets/images/landing/icon-1.png"
                        alt="">
                    <div class="couting">
                        <h2>5+ Dashboard</h2>
                    </div>
                    <p>
                        Creative is beautifully crafted, clean & modern designed admin theme with 6 different
                        demos & light - dark versions.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-modify">
        <div class="row">
            <div class="col-md-4 offset-md-2">
                <div class="img-effect"><a routerLink='' target="_blank"><img class="img-fluid creative-img"
                            src="assets/images/landing/dashboard/eshop.jpg" alt="">
                        <div class="cretive_img_content">
                            <h4>Default Dashboard</h4>
                        </div>
                    </a></div>
            </div>
            <div class="col-md-4">
                <div class="img-effect"><a routerLink='dashboard/hospital' target="_blank"><img
                            class="img-fluid creative-img" src="assets/images/landing/dashboard/default.jpg" alt="">
                        <div class="cretive_img_content">
                            <h4>Hospital Dashboard</h4>
                        </div>
                    </a></div>
            </div>
            <div class="col-md-4">
                <div class="img-effect"><a routerLink='dashboard/crm' target="_blank"><img
                            class="img-fluid creative-img" src="assets/images/landing/dashboard/crm.jpg" alt="">
                        <div class="cretive_img_content mb-0">
                            <h4 class="mb-0">Crm Dashboard</h4>
                        </div>
                    </a></div>
            </div>
            <div class="col-md-4">
                <div class="img-effect"><a routerLink='dashboard/crypto' target="_blank"><img
                            class="img-fluid creative-img" src="assets/images/landing/dashboard/crypto.jpg" alt="">
                        <div class="cretive_img_content mb-0">
                            <h4 class="mb-0">Crypto Dashboard</h4>
                        </div>
                    </a></div>
            </div>
            <div class="col-md-4">
                <div class="img-effect"><a routerLink='dashboard/sass' target="_blank"><img
                            class="img-fluid creative-img" src="assets/images/landing/dashboard/sass.jpg" alt="">
                        <div class="cretive_img_content mb-0">
                            <h4 class="mb-0">Sass Dashboard</h4>
                        </div>
                    </a></div>
            </div>
        </div>
    </div>
</section>
<section class="section-space creative-demo-section bg-gallery">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="gallery_content round_circle1_bg_sky"><img class="img-fluid d-block"
                        src="assets/images/landing/icon-1.png" alt="">
                    <div class="couting">
                        <h2>Gallery</h2>
                    </div>
                    <p>
                        Creative is beautifully crafted, clean & modern designed admin theme with 6 different
                        demos & light - dark versions.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="landing_gallery_section_img">
            <div class="img-gallery-set1" data-jarallax-element="-100"><img class="img-fluid"
                    src="assets/images/landing/gallery/1-gallery.jpg" alt="">
                <div class="gallery-img-blur-div"></div>
            </div>
            <div class="img-gallery-set2" data-jarallax-element="-80"><img class="img-fluid"
                    src="assets/images/landing/gallery/2-gallery.jpg" alt="">
                <div class="gallery-img-blur-div"></div>
            </div>
            <div class="img-gallery-set3" data-jarallax-element="-60"><img class="img-fluid"
                    src="assets/images/landing/gallery/3-gallery.jpg" alt="">
                <div class="gallery-img-blur-div"></div>
            </div>
            <div class="img-gallery-set4" data-jarallax-element="-80"><img class="img-fluid"
                    src="assets/images/landing/gallery/4-gallery.jpg" alt="">
                <div class="gallery-img-blur-div"></div>
            </div>
            <div class="img-gallery-set5" data-jarallax-element="-100"><img class="img-fluid"
                    src="assets/images/landing/gallery/5-gallery.jpg" alt="">
                <div class="gallery-img-blur-div"></div>
            </div>
        </div>
    </div>
</section>
<section class="section-space creative-demo-section email_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="creative-demo-content"><img class="img-fluid d-block" src="assets/images/landing/icon-1.png"
                        alt="">
                    <div class="couting">
                        <h2>Email Templates</h2>
                    </div>
                    <p>
                        Creative is beautifully crafted, clean & modern designed admin theme with 6 different
                        demos & light - dark versions.
                    </p>
                </div>
            </div>
        </div>
    </div><img class="img-fluid" src="assets/images/landing/email_section_img.jpg" alt="">
</section>
<section class="section-space creative-demo-section components-section pt-0 highlight-on-scroll" id="Components">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="creative-demo-content"><img class="img-fluid d-block" src="assets/images/landing/icon-1.png"
                        alt="">
                    <div class="couting">
                        <h2>Components</h2>
                    </div>
                    <p>
                        Creative is beautifully crafted, clean & modern designed admin theme with 6 different
                        demos & light - dark versions.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row component_responsive">
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/idea.png" alt="">
                    <h6 class="m-0 Pt-4">SweetAlert2</h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/user.png" alt="">
                    <h6 class="m-0">Avatar</h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/zoom.png" alt="">
                    <h6 class="m-0">Scrollable</h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/cloud.png" alt="">
                    <h6 class="m-0">Tree view</h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/padlock.png" alt="">
                    <h6 class="m-0">Bootstrap notify</h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/battery.png" alt="">
                    <h6 class="m-0">Rating </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/cloud-computing.png" alt="">
                    <h6 class="m-0">Dropzone</h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/rocket.png" alt="">
                    <h6 class="m-0">Tour</h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/monitor.png" alt="">
                    <h6 class="m-0">Animated modal</h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/calendar.png" alt="">
                    <h6 class="m-0">Owl Carousel</h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/chat-6.png" alt="">
                    <h6 class="m-0">Ribbons </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/chat.png" alt="">
                    <h6 class="m-0">Pagination </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/chat-10.png" alt="">
                    <h6 class="m-0">Steps </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/envelope-1.png" alt="">
                    <h6 class="m-0">Breadcrumb </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/folder.png" alt="">
                    <h6 class="m-0">Range Slider </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/checked.png" alt="">
                    <h6 class="m-0">image cropper </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/chat-9.png" alt="">
                    <h6 class="m-0">Sticky </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/loading.png" alt="">
                    <h6 class="m-0">Progress </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/music.png" alt="">
                    <h6 class="m-0">Tooltip </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/cancel.png" alt="">
                    <h6 class="m-0">Spinners </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/hourglass.png" alt="">
                    <h6 class="m-0">Dropdown </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/document.png" alt="">
                    <h6 class="m-0">Tabs </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/settings.png" alt="">
                    <h6 class="m-0">Accordion </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set component-set">
                <div class="component-hover-effect"><img src="assets/images/landing/cursor.png" alt="">
                    <h6 class="m-0">Navs</h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set">
                <div class="component-hover-effect"><img src="assets/images/landing/chat-1.png" alt="">
                    <h6 class="m-0">Shadow</h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set">
                <div class="component-hover-effect"><img src="assets/images/landing/tablet.png" alt="">
                    <h6 class="m-0">state color</h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set">
                <div class="component-hover-effect"><img src="assets/images/landing/video-player.png" alt="">
                    <h6 class="m-0">List </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set">
                <div class="component-hover-effect"><img src="assets/images/landing/mouse.png" alt="">
                    <h6 class="m-0">Grid </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set">
                <div class="component-hover-effect"><img src="assets/images/landing/stopwatch.png" alt="">
                    <h6 class="m-0">Helper classes </h6>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 component-col-set">
                <div class="component-hover-effect"><img src="assets/images/landing/keyboard.png" alt="">
                    <h6 class="m-0">Typography</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-bg">
    <div class="container">
        <div class="landing-center ptb50">
            <div class="title"><img class="img-fluid" src="assets/images/other-images/coming-soon-Logo.png" alt="">
                <div class="footer-pattern-root">
                    <div class="footer-line-pattern"></div>
                </div>
            </div>
            <div class="footer-content">
                <h1>The Creative Bootstrap Admin Theme Trusted By Many Developers World Wide.</h1>
                <p>If You like Our Theme So Please Rate Us.</p><a class="btn mrl5 btn-md" target="_blank"
                routerLink=''>Check Now</a><a class="btn mrl5 btn-md btn-md-res" target="_blank"
                    href="https://themeforest.net/user/pixelstrap/portfolio">Buy Now</a>
            </div>
        </div>
    </div>
</section>
<div class="tap-top"><i class="fa fa-angle-double-up"></i></div>