<div class="container-fluid">
  <div class="row">

    <div class="col-xl-8 xl-60">
      <div class="card">
        <div class="job-search">
          <div class="card-body">
            <div class="media">
              <div class="media-icon">
                <i class="fa fa-user-o"></i>
              </div>
              <div class="media-body">
                <h3 class="f-w-600">{{jobs.jobTitle}}
                </h3>
                <p>{{jobs.categoryName}}</p>
              </div>
            </div>
            <div class="job-description">
              <h6>Job Description</h6>
              <p>{{jobs.jobDescription}}</p>
            </div>
            <div class="job-description">
              <h6>Skills and Experience</h6>
              <p>{{jobs.skills}}</p>
            </div>
            
            <div class="job-description">
              <h6>About the Role</h6>
              <p>{{jobs.about}}</p>
            </div>
            
            <div class="job-description">
              <h6>Employer Questions</h6>
              <p>{{jobs.questions}}</p>
            </div>

            <div class="job-description">
              <button class="btn btn-success mr-1" type="button" (click)="applyClick()"><span><i class="fa fa-check"></i></span> Apply for Job</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-40">
      <div class="card">
          <div class="card-body animate-chk m-auto">
            <button class="btn btn-success mr-1" type="button" (click)="applyClick()"><span><i class="fa fa-check"></i></span> Apply for Job</button>
          </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="mb-0 f-w-600">
            Overview
            </h5>
        </div>
        <div class="card-body animate-chk p-2 m-auto">
          
          <div class="job-ovweview m-1">
            <i class="fa fa-user-o"></i>
            <div>
              <p class="m-0"> <strong> Location </strong></p>
              <p>{{jobs.location}}</p>
            </div>
          </div>
          <div class="job-ovweview m-1">
            <i class="fa fa-map-marker"></i>
            <div>
              <p class="m-0"> <strong> Job Category </strong></p>
              <p>{{jobs.categoryName}}</p>
            </div>
          </div>

          <div class="job-ovweview m-1">
            <i class="fa fa-calendar-check-o"></i>
            <div>
              <p class="m-0"> <strong> Playing </strong></p>
              <p>{{jobs.jobPaying}}</p>
            </div>
          </div>

          <div class="job-ovweview m-1">
            <i class="fa fa-handshake-o"></i>
            <div>
              <p class="m-0"> <strong> Job Type</strong></p>
              <p>{{jobs.jobTypeName}}</p>
            </div>
          </div>

 
        </div>
      </div>

    </div>
  </div>
</div>