<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header">
                  <h5>Filter Providers</h5>
              </div>
              <div class="card-body custom-datatable">
                  <input type="text" class="filter-ngx form-control" placeholder='Filter'
                      (keyup)="updateFilter($event)" />
                  <ngx-datatable #table 
                      class='bootstrap' 
                      [columns]="columns" 
                      [columnMode]="ColumnMode.force"
                      [headerHeight]="50" 
                      [footerHeight]="50" 
                      rowHeight="auto" 
                      [limit]="10" 
                      [rows]="rows">

                      <ngx-datatable-column *ngFor="let col of columns" [name]="col.name"> 
                        <ng-template ngx-datatable-header-template let-sort="sortFn">
                            <span (click)="sort()">{{ col.label }}</span>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column size="1000">
                        <ng-template ngx-datatable-cell-template let-row="row"  let-rowIndex="rowIndex" let-value="value">
                          <span  class="badge badge-pill pill-badge-primary" (click)="viewSubject(row)">Seguimiento</span>  
                          <span  class="badge badge-pill pill-badge-info" (click)="editProfile(row)">Editar</span>
                          <span *ngIf="row.activo == 0" class="badge badge-pill pill-badge-success" (click)="deleteSubject(row.id,1)" >Activar</span>
                          <span *ngIf="row.activo == 1" class="badge badge-pill pill-badge-secondary" (click)="openConfirmation(row)" >Inactivar</span>
                          <span  class="badge badge-pill pill-badge-warning" (click)="viewAlerts(row)">Alertas</span>
                        </ng-template>
                      </ngx-datatable-column>
                     
                  </ngx-datatable>
              </div>
          </div>
      </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-body">
  </div>
</ng-template>