<div class="container-fluid">
  <div class="edit-profile">
    <div class="row">
      <div class="col-lg-12">
        <form class="card" [formGroup]="editProfile">
          <div class="card-header">
            <h4 class="card-title mb-0">Edit Offer</h4>
            <div class="card-options"><a class="card-options-collapse" href="javascript:void(0)" data-toggle="card-collapse"><i
                  class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="javascript:void(0)" data-toggle="card-remove"><i
                  class="fe fe-x"></i></a></div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Job Category</label>
                  <select class="form-control btn-square" required formControlName="jobCategory"  [ngClass]="{ 'is-invalid': submitted && f.jobCategory.errors }">
                    <option value="" selected>Select</option>
                    <ng-container *ngFor='let data of listCategories' ><option [value]="data.id" *ngIf="data.active=='1'">{{data.name}}</option>
                    </ng-container>    
                  </select>
                  <div *ngIf="submitted && f.jobCategory.errors" class="text text-danger mt-1">This Field is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Employer</label>
                  <input class="form-control" type="text" placeholder="Employer" formControlName="employer" [ngClass]="{ 'is-invalid': submitted && f.employer.errors }">
                  <div *ngIf="submitted && f.employer.errors" class="text text-danger mt-1">This Field is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Job Title</label>
                  <input class="form-control" required type="text" placeholder="Job Title" formControlName="jobTitle" [ngClass]="{ 'is-invalid': submitted && f.jobTitle.errors }">
                  <div *ngIf="submitted && f.jobTitle.errors" class="text text-danger mt-1">This Field is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Job Location</label>
                  <select class="form-control btn-square" formControlName="jobLocation" [ngClass]="{ 'is-invalid': submitted && f.jobLocation.errors }">
                    <option value="" selected>Select</option>
                    <option value="1">Melbourne CBD</option>
                    <option value="2">Melbourne Metro</option>
                    <option value="3">Melbourne Eastern Suburbs</option>
                    <option value="4">Melbourne Northern Suburbs</option>
                    <option value="5">Melbourne Southern Suburbs</option>
                    <option value="6">Melbourne Western Suburbs</option>
                    <option value="7">Regional Victoria</option>
                    <option value="8">Gippsland </option>
                    <option value="9">Geelong </option>
                    <option value="10">Other</option>
                  </select>
                  <div *ngIf="submitted && f.jobLocation.errors" class="text text-danger mt-1">This Field is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Job Type</label>
                  <select class="form-control btn-square" formControlName="jobType" [ngClass]="{ 'is-invalid': submitted && f.jobType.errors }">
                    <option value="" selected>Select</option>
                    <option value="1">Full Time</option>
                    <option value="2">Part-Time</option>
                    <option value="3">Contract/Temp</option>
                    <option value="4">Contract/Temp</option>
                  </select>
                  <div *ngIf="submitted && f.jobType.errors" class="text text-danger mt-1">This Field is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Job Paying</label>
                  <input class="form-control" required type="text" placeholder="Job Paying" formControlName="jobPaying" [ngClass]="{ 'is-invalid': submitted && f.jobPaying.errors }">
                  <div *ngIf="submitted && f.jobPaying.errors" class="text text-danger mt-1">This Field is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Job Time</label>
                  <input class="form-control" required type="text" placeholder="Job Time" formControlName="jobTime" [ngClass]="{ 'is-invalid': submitted && f.jobTime.errors }">
                  <div *ngIf="submitted && f.jobTime.errors" class="text text-danger mt-1">This Field is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Job Adder Link</label>
                  <input class="form-control" type="text" placeholder="Job Adder Link" formControlName="JobAdderLink" [ngClass]="{ 'is-invalid': submitted && f.JobAdderLink.errors }">
                  <div *ngIf="submitted && f.JobAdderLink.errors" class="text text-danger mt-1">This Field is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Skills and Experience</label>
                    <textarea type="text" maxlength="500" rows="4"  class="md-textarea form-control"  formControlName="skills" mdbInput [ngClass]="{ 'is-invalid': submitted && f.skills.errors }"></textarea>
                    <div *ngIf="submitted && f.skills.errors" class="text text-danger mt-1">Este campo es obligatorio</div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">Job Description</label>
                    <textarea type="text" maxlength="500" rows="4"  class="md-textarea form-control" required formControlName="jobDescription" mdbInput [ngClass]="{ 'is-invalid': submitted && f.jobDescription.errors }"></textarea>
                    <div *ngIf="submitted && f.jobDescription.errors" class="text text-danger mt-1">Este campo es obligatorio</div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">About the Role</label>
                    <textarea type="text" maxlength="500" rows="4"  class="md-textarea form-control"  formControlName="about" mdbInput [ngClass]="{ 'is-invalid': submitted && f.about.errors }"></textarea>
                    <div *ngIf="submitted && f.about.errors" class="text text-danger mt-1">Este campo es obligatorio</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Employer Questions</label>
                    <textarea type="text" maxlength="500" rows="4"  class="md-textarea form-control"  formControlName="questions" mdbInput [ngClass]="{ 'is-invalid': submitted && f.questions.errors }"></textarea>
                    <div *ngIf="submitted && f.questions.errors" class="text text-danger mt-1">Este campo es obligatorio</div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <button class="btn btn-primary" type="submit" [disabled]='!editProfile.valid' (click)="updateObject(editProfile.value)">Save</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>